go 1.24.3

use (
	.
	./vendor/cortex-cloud-go/api
	./vendor/cortex-cloud-go/appsec
	./vendor/cortex-cloud-go/cloudonboarding
	./vendor/cortex-cloud-go/enums
	./vendor/cortex-cloud-go/errors
	./vendor/cortex-cloud-go/platform
	./vendor/cortex-cloud-go/internal/app
)
