go 1.24.3

use (
	.
	../cortex-cloud-go
	../cortex-cloud-go/api
	../cortex-cloud-go/enums
	../cortex-cloud-go/errors
	../cortex-cloud-go/appsec
	../cortex-cloud-go/cloudonboarding
	../cortex-cloud-go/platform
	../cortex-cloud-go/internal/app
)
